@font-face {
  font-family: "Playfair Display Regular";
  src: local("Playfair Display Regular"),
    local("PlayfairDisplay Regular"),
    local("PlayfairDisplay-Regular"),
    url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "Playfair Display SemiBold";
  src: local("Playfair Display SemiBold"),
    local("PlayfairDisplay SemiBold"),
    local("PlayfairDisplay-SemiBold"),
    url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}


@font-face {
  font-family: "Bitter";
  src: local("Bitter"),
    url("../fonts/Bitter/Bitter-Regular.ttf");
  font-weight: normal;
}
