@import "./reset.css";
@import "./fonts.css";

body {
  font-family: "roboto", serif;
  font-weight: normal;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1440px;
  max-height: 2597px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 135px;
  padding-left: 20px;
  margin-bottom: 59px;
  gap: 20px;
}

h1 {
  font-family: "playfair display semiBold";
  font-weight: 600;
  font-size: 86px;
  line-height: 120%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.head-menu {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

a {
  font-weight: 500;
  font-size: 24px;
}

/* header */
/* main */
.wrp-biography {
  display: flex;
  justify-content: space-between;
  max-width: 1165px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.katya-mills-dune {
  width: 49%;
  object-fit: cover;
}

h2 {
  font-weight: 700px;
  font-size: 24px;
}

.biography-heading-shell {
  max-width: 132px;
}

.biography-heading {
  transform: translateY(42px) translateX(-28px) rotate(-90deg);
}

.biography-text {
  width: 454px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biography-name {
  font-family: "playfair display regular";
  font-size: 86px;
  margin: 36px 0;
  flex-wrap: wrap;
  width: 80%;
}

.post-name {
  font-size: 18px;
  font-weight: bold;
}

.competencies,
.competencies-end {
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}

.competencies::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #000000;
  display: inline-block;
  transform: translateY(3px) rotate(15deg);
  margin-left: 5px;
}

.davis {
  font-family: "bitter";
  font-weight: 400;
  font-size: 26px;
  margin: 34px 0;
}

.davis::before {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #000000;
  display: block;
  margin-bottom: 18px;
}

/* wrp */
.wrp {
  max-height: 1236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1165px;
  margin: 0 auto;
  margin-bottom: 59px;

}

.designers-heading {
  padding-left: 119px;
  padding-bottom: 45px;
}

.container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  column-gap: 12px;
  row-gap: 20px;
}

.item1 {
  max-width: 740px;
  grid-column: 1 / 3;
}

.jess-wonder {
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.item2 {
  max-width: 370px;
  grid-column: 3 / 3;
}

.kameron-clein {
  width: 100%;
  object-fit: cover;
  margin-bottom: 17px;
}

.item3 {
  max-width: 370px;
  grid-column: 1 / 2;
}

.louisse-red-coffee {
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.item4 {
  max-width: 740px;
  padding-left: 27px;
  grid-column: 2 / 4;
}

h3 {
  font-weight: 700;
  font-size: 16px;
}

p {
  font-weight: normal;
  font-size: 18px;
}

span {
  font-weight: 700;
  font-size: 16px;
}

.Skills {
  display: flex;
}

span::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #000000;
  display: inline-block;
  transform: translateY(3px) rotate(15deg);
  margin: 0 5px;
}

li {
  font-weight: normal;
  font-size: 16px;
}

/* main */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0D0D;
  padding: 70px 20px;
  margin-top: 98px;
}

.footer-controls {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 120px;
}

/* footer */
